/*-------------------
- Function
-------------------*/
/*-------------------
- Variable
-------------------*/
/*-------------------
- Element
-------------------*/
@media screen and (max-width: 768px) {
  .no-gap-m {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.max-100 {
  max-width: 100%; }

@media screen and (max-width: 768px) {
  .hide-m {
    display: none !important; } }

.show-m {
  display: none; }
  @media screen and (max-width: 768px) {
    .show-m {
      display: block !important; } }

@media screen and (max-width: 959px) {
  .hide-t {
    display: none !important; } }

.show-t {
  display: none; }
  @media screen and (max-width: 959px) {
    .show-t {
      display: block !important; } }

.gap-section {
  padding: 6rem 0; }
  @media screen and (max-width: 959px) {
    .gap-section {
      padding: 3rem 0; } }

.gap-txt {
  padding: 2rem 0; }
  @media screen and (max-width: 768px) {
    .gap-txt {
      padding: 0.2rem 0; } }

@media screen and (max-width: 959px) {
  .full-width-m {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media screen and (max-width: 768px) {
  .img-full-m {
    width: 100%; } }

/*-------------------
- Home
-------------------*/
.section-01 {
  background: url("../images/half-circle-left.png") no-repeat right center; }
  @media screen and (max-width: 1200px) {
    .section-01 {
      background: none; } }
  @media screen and (max-width: 959px) {
    .section-01 {
      background: none; } }

@media screen and (max-width: 959px) {
  .pic-reason {
    text-align: center; } }
@media screen and (max-width: 959px) {
  .pic-reason img {
    margin: auto; } }

.title-principal {
  font-size: 36px;
  color: #0091DA;
  font-weight: 600; }
  @media screen and (max-width: 959px) {
    .title-principal {
      font-size: 30px; } }
  @media screen and (max-width: 768px) {
    .title-principal {
      font-size: 28px;
      text-align: center; } }
  .title-principal.theme2 {
    color: #fff; }
  .title-principal span {
    color: #4D4E53; }

.handle-br-m br {
  display: none; }
  @media screen and (max-width: 768px) {
    .handle-br-m br {
      display: initial; } }

.sub-title-principal {
  font-size: 18px;
  margin: 0.7rem 0 3rem; }
  @media screen and (max-width: 768px) {
    .sub-title-principal {
      margin: 1.3rem 0;
      font-size: 14px; } }
  .sub-title-principal > span {
    display: block; }
    @media screen and (max-width: 768px) {
      .sub-title-principal > span {
        display: initial; } }
    @media screen and (max-width: 768px) {
      .sub-title-principal > span > span {
        display: block; } }

.normal-link {
  color: #4D4E53; }
  .normal-link:hover {
    color: #4D4E53;
    text-decoration: none; }

.banner-principle {
  text-align: center; }
  .banner-principle img {
    width: 100%;
    margin: auto;
    max-width: 100%; }

.item-pic-left {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .item-pic-left {
      margin-bottom: 1rem; } }
  .item-pic-left .txt {
    color: inherit;
    margin-left: 2rem; }
    @media screen and (max-width: 768px) {
      .item-pic-left .txt {
        font-size: 14px;
        margin-left: 1rem; } }

.title-reason {
  margin: 2rem 0 0;
  color: #0091DA;
  font-weight: 600;
  font-size: 55px; }
  @media screen and (max-width: 959px) {
    .title-reason {
      font-size: 40px; } }
  @media screen and (max-width: 768px) {
    .title-reason {
      font-size: 30px;
      flex-direction: column;
      align-items: flex-start;
      margin: 0; } }
  .title-reason .txt {
    line-height: 0.9; }
    @media screen and (max-width: 959px) {
      .title-reason .txt {
        line-height: 1; } }
    @media screen and (max-width: 768px) {
      .title-reason .txt {
        font-size: 45px;
        margin: 25px 0 0 0; } }
    .title-reason .txt span {
      font-size: 30px; }
      @media screen and (max-width: 959px) {
        .title-reason .txt span {
          font-size: 26px; } }

.wrap-list-reason {
  font-size: 20px;
  margin: 4rem 0; }
  @media screen and (max-width: 959px) {
    .wrap-list-reason {
      margin: 0.5rem 0 2rem; } }

@media screen and (max-width: 959px) {
  .blog-download {
    text-align: center; } }
.blog-download.center {
  text-align: center; }
  .blog-download.center .group-icon {
    justify-content: center; }
.blog-download .group-icon {
  display: flex;
  align-items: stretch;
  margin-top: 1.5rem; }
  @media screen and (max-width: 959px) {
    .blog-download .group-icon {
      justify-content: center; } }
  @media screen and (max-width: 768px) {
    .blog-download .group-icon {
      max-width: 90%;
      margin: 1.5rem auto 0.5rem; } }
.blog-download .icon-apps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2.5rem; }
  @media screen and (max-width: 768px) {
    .blog-download .icon-apps {
      margin-left: 1rem; } }
  .blog-download .icon-apps a {
    display: block; }

.pic-thumb img {
  width: 100%; }
@media screen and (max-width: 768px) {
  .pic-thumb {
    margin-bottom: 30px; } }

.link-img {
  display: block; }
  .link-img img {
    max-width: 100%; }

.txt-warning {
  text-align: left; }
  @media screen and (max-width: 768px) {
    .txt-warning {
      font-size: 12px;
      margin-bottom: 30px;
      padding: 0 15px;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .txt-warning span {
      display: block; } }

.blog-video {
  margin: 2rem 0 0.5rem; }
  .blog-video iframe {
    width: 90%;
    height: 600px; }
    @media screen and (max-width: 1200px) {
      .blog-video iframe {
        height: 500px; } }
    @media screen and (max-width: 959px) {
      .blog-video iframe {
        height: 400px; } }
    @media screen and (max-width: 768px) {
      .blog-video iframe {
        width: 100%;
        height: 250px; } }

.wrap-list-confirm {
  display: flex;
  margin: 2rem 0;
  font-size: 20px; }
  @media screen and (max-width: 768px) {
    .wrap-list-confirm {
      flex-direction: column; } }
  .wrap-list-confirm .item-confirm {
    text-align: center;
    margin: 0 15px; }
    @media screen and (max-width: 768px) {
      .wrap-list-confirm .item-confirm {
        margin-bottom: 45px; } }
    @media screen and (max-width: 768px) {
      .wrap-list-confirm .item-confirm:last-child {
        margin-bottom: 0px; } }
    .wrap-list-confirm .item-confirm .pic {
      margin-bottom: 1rem; }
    .wrap-list-confirm .item-confirm .txt span {
      display: block;
      font-size: 14px; }

.how-to-use {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .how-to-use {
      margin-top: 40px; } }
  @media screen and (max-width: 768px) {
    .how-to-use {
      flex-direction: column;
      margin-top: 0px; } }
  .how-to-use:hover {
    text-decoration: none; }
  @media screen and (max-width: 1200px) {
    .how-to-use img {
      max-width: 100px; } }
  @media screen and (max-width: 768px) {
    .how-to-use img {
      position: relative;
      z-index: 10; } }
  .how-to-use .tag-detail {
    font-size: 16px;
    color: #2C76B9;
    background: #E4EFF9;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .how-to-use .tag-detail {
        padding-top: 80px;
        margin-top: -60px; } }

.section-download {
  background: linear-gradient(to bottom, #12afd7, #2095d2);
  margin-top: 200px;
  position: relative; }
  @media screen and (max-width: 959px) {
    .section-download {
      margin-top: 0; } }
  .section-download .blog-download {
    margin: 110px 0; }
    @media screen and (max-width: 959px) {
      .section-download .blog-download {
        margin: 30px 0; } }
  .section-download .icon-download {
    display: flex; }
    @media screen and (max-width: 959px) {
      .section-download .icon-download {
        display: block;
        text-align: center; } }

.phone-download {
  position: absolute;
  bottom: 0; }
  @media screen and (max-width: 959px) {
    .phone-download {
      position: initial; } }
  @media screen and (max-width: 1200px) {
    .phone-download img {
      max-width: 450px; } }
  @media screen and (max-width: 768px) {
    .phone-download img {
      max-width: 100%; } }

.section-condition {
  background: #162B48; }
  @media screen and (max-width: 768px) {
    .section-condition .title-principal {
      text-align: left; } }

.wrap-list-condition {
  color: #fff;
  font-size: 14px; }
  .wrap-list-condition ol {
    list-style: none;
    counter-reset: item;
    margin: 3rem 0 0 1rem;
    padding-left: 15px; }
    @media screen and (max-width: 768px) {
      .wrap-list-condition ol {
        margin-top: 1.2rem; } }
    .wrap-list-condition ol li {
      margin-bottom: 25px;
      padding-left: 20px;
      position: relative; }
      @media screen and (max-width: 768px) {
        .wrap-list-condition ol li {
          font-size: 12px;
          padding-left: 10px; } }
      .wrap-list-condition ol li:before {
        content: counter(item) "";
        counter-increment: item;
        text-align: center;
        position: absolute;
        left: -26px;
        top: -5px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
        @media screen and (max-width: 768px) {
          .wrap-list-condition ol li:before {
            width: 25px;
            height: 25px;
            line-height: 25px; } }
  .wrap-list-condition .remark {
    font-size: 13px;
    margin-top: 30px; }

.block-d {
  display: block; }
  @media screen and (max-width: 768px) {
    .block-d {
      display: inline; } }
.principalsea-header .principalsea-navbar.navbar-default .navbar-nav a{
	font-family: "FS Elliot Web Bold","FS Elliot Web Regular","Arial",arial,sans-serif !important;
}
